.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.top-part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 10px;
}
.top-part > h2{
    font-size: 1.75rem;
}

.top-part > .resume{
    width: 244px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-family: josefin sans;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
.hero-content {
    background-image: url(/assets/Hero-bg.png);
    width: 100%;
    
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.hero-title{
    font-size: 3rem;
    text-align: center;
    line-height: 110%;
}

.hero-subtitle{
    font-size: 1rem;
    text-align: center;
    color: rgb(13, 19, 33);
}

.hero-container .contact{
        width: 244px;
        height: 57px;
        box-sizing: border-box;
        background-color: black;
        border-radius: 8px;
        font-family: josefin sans;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        color: white;
        margin-top: 2%;
}

/* What I Do Part */

#what-i-do{
    background-color: rgb(247, 247, 247);
    margin: 5%;
    padding: 5%;
}

.why-web-dev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.why-web-dev .title{
    font-size: 2rem;
}

.why-web-dev .description{
    text-align: center;
}

.vision{
    background-color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 2%;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}
.primary-title{
    font-size: 1.75rem;
}
.vision-two {
    background-color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 2%;
    display: flex;
    flex-direction: row-reverse;
    gap: 2%;
    justify-content: center;
    align-items: center;
}
.vision-three{
    background-color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 2%;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}
.primary-button{
        width: 170px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
        font-family: josefin sans;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
}

/* Media Type for Small Device */

@media screen and (max-width: 576px) {
    .top-part {
            display: flex;
            flex-direction: column;
    }
        .top-part>input[type="button"]{
            width: 60%;
        }
        .vision , .vision-three, .vision-two{
            flex-direction: column;
        }
}